html,body, #__nuxt, #__layout{
    height:100%!important;
    width: 100%!important;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #171717;
    color: white;
    font-family: NeueMontreal;
    scroll-padding-top: 4rem;   /* 4 rem ≈ 64 px */
    scroll-behavior: smooth;    /* optional, makes it glide */
}

@font-face {
    font-family: NeueMontreal;
    src: url("/NeueMontreal-Regular.otf") format("opentype");
}

html::-webkit-scrollbar {
    display: none;
}

.content-body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif;
}

.default-hover {
    color: #848484;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.default-hover:hover {
    color: #F5F5F5;
}